載入必要套件

In [ ]:
!pip install requests
!pip install pandas

In [9]:
import requests 
import json
import pandas as pd

取得證交所股票日成交數據

In [12]:
url = 'https://www.twse.com.tw/rwd/zh/afterTrading/STOCK_DAY?date=20240612&stockNo=2330&response=json&_=1718166127755'
response = requests.get(url)
data = json.loads(response.text)
df = pd.DataFrame(data['data'],columns=data['fields'])
df.head()

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
0,113/06/03,"29,629,706","25,053,781,742",839.00,853.00,837.00,846.00,+25.00,"40,694"
1,113/06/04,"31,031,104","26,107,162,214",844.00,851.00,837.00,839.00,-7.00,"52,392"
2,113/06/05,"37,531,781","31,774,150,536",841.00,857.00,835.00,854.00,+15.00,"41,869"
3,113/06/06,"67,300,344","60,138,015,941",893.00,899.00,885.00,894.00,+40.00,"112,332"
4,113/06/07,"44,489,018","39,240,336,617",885.00,888.00,879.00,879.00,-15.00,"85,990"