載入套件

In [ ]:
!pip install yfinance

In [2]:
import yfinance as yf

In [3]:
# 商品名稱
prod = "2330.TW"
# 取得全部資料
data = yf.download(prod, period="max")
# 擷取資料開頭
data.head()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-04,69.649033,69.649033,68.475182,69.649033,34.502377,200662336736
2000-01-05,69.649033,71.214043,68.866341,71.214043,35.277649,402466805912
2000-01-06,70.822884,71.214043,69.649033,69.649033,34.502377,197545715802
2000-01-07,67.301331,68.475182,66.518639,67.692490,33.533165,235270344752
2000-01-10,69.649033,70.431351,68.475182,70.040192,34.696152,276171685539